@import '../../variables.scss';

.notFound {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 75px);

  .notFoundWrapper {
    display: flex;
    align-items: center;
    width: 80%;
    flex-direction: column-reverse;

    img {
      width: 65%;
      max-width: 300px;
    }

    div {
      padding: 35px;
      line-height: 1.2;

      h3,
      p {
        font-family: 'Fondamento', cursive;
        font-size: 3em;
        margin: 20px 0;
      }

      p {
        font-size: 2em;
        margin-bottom: 35px;
      }

      h2 {
        color: $dark-red;
        font-weight: 700;
        font-size: 3em;
        margin: 0;
      }

      a {
        color: $blue;
      }
    }
  }
}

@media (min-width: 480px) {
  .notFound {
    justify-content: center;
    .notFoundWrapper {
      flex-direction: row;
      height: 70vh;
      img {
        width: 50%;
      }
      div {
        min-width: 280px;
      }
    }
  }
}
@media (min-width: 768px) {
  .notFound {
    .notFoundWrapper {
    }
  }
}
