@import '../../variables.scss';

.navBar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: $brown;
  width: 100%;
  padding: 10px;
  color: white;
}

.logo {
  height: 50px;
}
