@import '../../variables.scss';

.gnomeDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 15px auto;
  padding: 2px 35px 15px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.25);
  background: $oatmeal;
  background: linear-gradient(
    90deg,
    #cfcaba 0%,
    $oatmeal 12%,
    $oatmeal 85%,
    #dbd6c5 100%
  );

  .gnomeDetailsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .gnomeImage {
      width: 200px;
      height: 260px;
      border: 6px solid $brown;
      background-size: cover;
      background-position: center;
      box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5);
    }

    .gnomeInfo {
      text-align: left;
      margin-top: 10px;

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .infoItem {
          display: flex;
          padding-left: 10px;
          &:before {
            content: '';
            margin-right: 5px;
            margin-top: 2px;
            height: 18px;
            background: url(/img/hammer.png);
            background-size: cover;
            width: 18px;
          }
        }
      }

      .friends {
        a {
          color: $blue;
          font-size: inherit;
          cursor: pointer;
        }
        .infoItem:before {
          background: url(/img/heart.png);
          background-size: cover;
          height: 16px;
          margin-top: 3px;
        }
      }
      p {
        margin: 5px 0 2px;
      }
    }
  }

  small {
    color: $light-brown;
    padding-left: 5px;
  }

  button {
    background: none;
    border: none;
    align-self: flex-end;
    padding: 5px;
    margin-top: 6px;
    font-size: 0.85em;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $brown;
    }

    &:active {
      color: $blue;
    }

    svg {
      margin-right: 5px;
      font-size: 0.9em;
    }
  }
  .loading img {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .gnomeDetails {
    .gnomeDetailsWrapper {
      flex-direction: row;
      .gnomeImage {
        width: 180px;
        height: 215px;
        margin-top: 10px;
      }
      .gnomeInfo {
        padding-left: 25px;
        border-left: 1px solid $light-brown;
        margin-left: 25px;
      }
    }
  }
}
@media (min-width: 768px) {
  .gnomeDetails {
    .gnomeDetailsWrapper {
      .gnomeImage {
        width: 200px;
        height: 265px;
        min-width: 200px;
      }
      .gnomeInfo {
        ul {
          flex-direction: row;
        }
      }
    }
  }
}
