@import '../../variables.scss';

.searchBar {
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: 15px;

  input {
    border: 2px solid $dark-brown;
    border-radius: 5px;
    width: 100%;
    padding: 6px 10px 5px;
    margin-left: 10px;
    font-size: 1em;
  }

  svg {
    margin-left: -20px;
  }
}

@media (min-width: 480px) {
  .searchBar {
    width: 35%;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
}
