@import '../../variables.scss';

.searchBar {
  width: 35%;
  display: flex;
  align-items: center;
  margin-top: 20px;

  input {
    border: 2px solid $dark-brown;
    border-radius: 5px;
    width: 100%;
    padding: 5px 8px;
    margin-left: 10px;
  }

  svg {
    margin-left: -20px;
  }
}
